<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        p{
            text-transform: capitalize;
            margin:2rem 3rem;
            text-align: justify;
        }
        p:hover{
            background-color: black;
            color:white;
            padding: 1rem;
            transition: 2s all;
        }
    </style>
</head>

<body>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero esse error aliquid vitae tenetur saepe et molestias repudiandae iusto nemo doloribus cum, eligendi unde molestiae assumenda sed vero dolorum exercitationem!
 Ratione neque laudantium distinctio praesentium recusandae nulla, facere, nihil quibusdam culpa inventore expedita tenetur veritatis, quo itaque eligendi? Voluptate delectus soluta iste assumenda perferendis, modi dolorum ut optio voluptatum doloribus?
 Velit reprehenderit nemo laborum quam quia dolorum, eveniet ratione quaerat, quis fugit hic voluptates neque perferendis tenetur, animi doloribus beatae nam! Temporibus cupiditate consequatur, eveniet sunt assumenda culpa minus consequuntur.
 Autem facilis eos dolore sequi odio molestias at incidunt alias ex, obcaecati, esse architecto possimus? Minima, consequatur. Aspernatur tempore error, quisquam commodi in veniam delectus modi laborum eius voluptatem qui?
 Quis recusandae dolore amet necessitatibus consectetur, beatae provident fugit doloribus reiciendis. Impedit eos ullam, commodi quas aspernatur rem, nostrum dicta dolores sed quisquam ratione, id fugiat nisi. Reiciendis, accusantium modi.</p>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>